

.container1 {

    background-color: red;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

}


.item1, .item2, .item3, .item4 {

     background-color: yellow;
     width: 200px;
     height: 100px;
     margin-left: 50px
    
    }


    .container2 {

        margin-top: 100px;
        background-color: green;
        width: 20%;
        flex-direction: column-reverse;
        display: flex;
    }

    .item5, .item6, .item7 , .item8 {

        margin-bottom: 50px;
        background-color: grey;
        height: 200px;
    }

    .container3 {

        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background-color: blue;
        margin-top: 50px;
        height: 200px;
        width: 70%;
    }

    .item9, .item10, .item11, .item12 {

        margin-left: 50px;
        background-color: #000;
        color: #fff;
        width: 20%;
    }